#about {
  @include center-padding;
  padding-top: 50px;
  background: white;
  width: 100vw;
}

.about-me {
  width: 50%;
  background-color: $blue;
  text-align: center;
  opacity: 0;
  padding: 30px;
  transition: all 1s;
  h3 {
    color: white;
  }
}

.about-photo {
  width: 200px;
  margin-top: 20px;
}
