#about {
  @include center-padding;
  @include flex-break;
  width: 100vw;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  opacity: 0;
  transition: all 1s;
}

.about-me {
  flex: 1;
  h3 {
    margin-bottom: 10px;
  }
}


#description {
  padding: 20px 0;
  text-align: left;
  line-height: 1.4em;
  p {
    margin-bottom: 20px;
  }
}

.skills {
  position: relative;
  flex: 1;
  background-color: $dark-pink;
  max-width: 400px;
  padding: 20px 0;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 20px #988;
  h4 {
    margin: 10px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  ul {
    li {
      margin: 10px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 150px;
    background-image: url(../img/tape.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
}
