#about {
  @include center-padding;
  background: white;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.about-me {
  @include clearfix;
  width: 50%;
  padding: 20px;
  background-color: $blue;
  text-align: center;
  opacity: 0;
  padding: 30px;
  transition: all 1s;
  h3 {
    color: white;
    margin-bottom: 30px;
  }
}

.about-photo {
  width: 200px;
  float: left;
}
