nav {
  @include center-padding;
  background-color: $blue;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  position: fixed;
  text-transform: lowercase;
  font-weight: lighter;
  letter-spacing: 3px;
  z-index: 20;
  animation: navDrop 1.5s ease-out forwards;
  a {
    color: white;
    padding-bottom: 3px;
    box-sizing: border-box;
    border-bottom: 0;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
