@keyframes fadeUp {
  0% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes cloudLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: -30vw;
  }
}

@keyframes cloudRight {
  0% {
    right: -100vw;
  }
  100% {
    right: -30vw;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navDrop {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
